.home{
    width: 99vw;
    // height: 100vh;
    display: flex;
    margin-top: 50px;
    // border: 10px solid red;
}
.content{
    width: 80vw;
    // height: 100vh;
    margin-left: 310px;
    // border: 1px solid teal;
}
.slide{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
    margin-left: -20px;
}

.overview{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
}
.overview>div:nth-child(1){
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 2%;
    color: #8C8CA1;
}

.overview>div:nth-child(2){
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    // border: 1px solid red;
}
.overview>div:nth-child(2)>button{
    width: 100%;
    height: 65%;
    background: #EF4859;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #EF4859;
    margin-right: 10%;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.cards{
    width: 95%;
    margin: auto;
    height: 16vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    // border: 1px solid red;
}

.cards>div{
    border-radius: 5px;
    display: flex;
}

.card1>div:nth-child(1){
    width: 80%;
    height: 100%;
    // border: 1px solid red;
}
.card1>div:nth-child(2){
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
}

.card2>div:nth-child(1){
    width: 80%;
    height: 100%;
    // border: 1px solid red;
}
.card2>div:nth-child(2){
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
}

.card3>div:nth-child(1){
    width: 80%;
    height: 100%;
    // border: 1px solid red;
}
.card3>div:nth-child(2){
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
}

.card4>div:nth-child(1){
    width: 80%;
    height: 100%;
    // border: 1px solid red;
}
.card4>div:nth-child(2){
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
}
.card-img{
    width: 50%;
    margin-top: -80%;
}

.card-name{
    color: #8C8CA1;
    padding-left: 5%;
    padding-top: 2%;
}
.card-num{
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    // font-weight: bold;
}

.graph1{
    width: 95%;
    margin: auto;
    height: 10vh;
    display: flex;
    border: 1px solid #f1f1f6;
    // border: 1px solid red;
}

.sales{
    width: 95%;
    margin: auto;
    padding-left: 2%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3%;
}

.graph1-left{
    width: 30%;
    padding: 1%;
}
.graph1-left>div:nth-child(1){
    font-weight: bold;
    padding-left: 5%;
}
.graph1-left>div:nth-child(2){
    font-size: small;
    color: #8C8CA1;
    padding-left: 5%;
}

.refresh{
    width: 15px;
}

.graph1>div:nth-child(2){
    color: #8C8CA1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 40%;
}
.graph1>div:nth-child(2)>span{
    padding-left: 10px;
}

.graph1>div:nth-child(3){
    color: #8C8CA1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 5%;
}

.graph1>div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.graph1>div:nth-child(4)>select{
    border: 1px solid transparent;

}
.graph2{
    width: 95%;
    margin: auto;
    height: 55vh;
    display: flex;
    border: 1px solid #f1f1f6;
    // border: 1px solid red;
}
.graph2-left{
    width: 80%;
}
.graph2-right{
    width: 20%;
    border: 1px solid #f1f1f6;
    // padding: 1%;
}
.graph2-right>div:nth-child(1){
    color: #8C8CA1;
    padding-left: 5%;
    padding-top: 10%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.graph2-right>div:nth-child(2){
    color: #811434;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.graph2-right>div:nth-child(3){
    color: #2FCA72;
    padding-left: 5%;
    // padding-top: 5%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.graph2-right>div:nth-child(4){
    color: #8C8CA1;
    padding-left: 5%;
    padding-top: 10%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.graph2-right>div:nth-child(5){
    color: #000000;
    padding-left: 5%;
    // padding-top: 5%;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.graph2-left>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.graph2-left>div:nth-child(1)>div:nth-child(1){
    color: #000000;
    padding-left: 5%;
    // padding-top: 5%;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.graph2-left>div:nth-child(1)>div:nth-child(2){
    display: flex;
    margin-right: 2%;
    justify-content: space-between;
}
.graph2-left>div:nth-child(1)>div:nth-child(2)>img{
    width: 20px;
}
.graph2-left>div:nth-child(1)>div:nth-child(2)>span{
    padding-left: 10px;
    // padding-right: 1%;
    
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.graph2-left>div:nth-child(2){
    padding-left: 5%;
    color: #2FCA72;
    font-family: 'Open Sans', sans-serif;
}

.graph2-left>div:nth-child(3){
    padding-left: 5%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
}
.data{
    width: 95%;
    margin: auto;
    height: 100vh;
    margin-top: 5%;
    // border: 1px solid red;
}

.inven{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding-left: 2%;
}

.table-map{
    width: 95%;
    margin: auto;
    height: 90%;
    // border: 1px solid teal;
    margin-top: 2%;
}

.title{
    font-size: small;
    color: #000000;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.title-data{
    font-size: small;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    height: 15vh;
    font-family: 'Open Sans', sans-serif;
}

.title>div:nth-child(1){
    width: 10%;
}
.title>div:nth-child(2){
    width: 30%;
}
.title>div:nth-child(3){
    width: 10%;
}
.title>div:nth-child(4){
    width: 10%;
}
.title>div:nth-child(5){
    width: 10%;
}
.title>div:nth-child(6){
    width: 20%;
}
.title>div:nth-child(7){
    width: 10%;
}
.title>div:nth-child(8){
    width: 10%;
}

.title-data>div:nth-child(1){
    width: 10%;
}
.title-data>div:nth-child(2)>div:nth-child(2){
    font-size: small;
    color: #8C8CA1;
}
.title-data>div:nth-child(2){
    width: 30%;
}
.title-data>div:nth-child(3){
    width: 10%;
}
.title-data>div:nth-child(4){
    width: 10%;
    color: #8C8CA1;
}
.title-data>div:nth-child(5){
    width: 10%;
    color: #8C8CA1;
}
.title-data>div:nth-child(6){
    width: 20%;
    color: #8C8CA1;
}
.title-data>div:nth-child(7){
    width: 10%;
    color: #8C8CA1;
}
.title-data>div:nth-child(8){
    width: 10%;
}
input[type=checkbox]{
    accent-color: #EF4859;
}