.home{
    width: 99vw;
    height: 100vh;
    display: flex;
    margin-top: 50px;
    // border: 10px solid red;
}
.content{
    width: 80vw;
    height: 100vh;
    margin-left: 310px;
    border: 1px solid teal;
}
.slide{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
    margin-left: -20px;
}