@media only screen and (max-width: 600px) {
    
    .logo>img{
        width: 80%;
    }
    .search{
        width: 200px;
    }
    .searchbar{
        width: 40%;
        // border: 1px solid teal;
    }
    .account{
        width: 40%;
        // border: 1px solid teal;
    }
    .bell{
        width: 20px;
    }
    .account>div:nth-child(2){
        // border: 1px solid red;
        font-size: 13px;
    }
    .home{
        border: 1px solid red;
    }
    .sidebar-nav{
        font-size: small;
    }
    .sidebar{
        border: 1px solid red;
    }
    .content{
        width: 120%;
        border: 1px solid red;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}